{% extends 'layout.html' %}
{% load static %}

{% block header %}
    
{% endblock header %}

{% block title %} Upload tiktok Video{% endblock title %}

{% block  body%} 

    <div class='m-20 p-20 space-around w-50'>
        <button class='btn-choice unmuted'>Login </button>
        <button class='btn-choice'>Signup </button>
    </div>
    <form class="form-main" method = "POST" id='login-signup-form'>
        <div class='form-active form-section'>
            {{login_form.username}}
            {{login_form.password}}
        </div>

        <div class='form-inactive justify-content-center flex-wrap'>
            <div class='w-50 justify-content-center'>
                {{signup_form.username}}
                {{signup_form.password}}
            <div>
            <div class='w-50 justify-content-center'>
                {{signup_form.verifypassword}}
                {{signup_form.email}}
            </div>
        </div>
        <div class="space-around m-20">
            <button class='btn-primary' form='login-signup-form'>
                Submit
            </button>
        </div>

    </form

{% endblock body%}