<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  
  <link href="{% static 'css/main.css'%}" rel="stylesheet" type="text/css"/>
  <link href="{% static 'css/general.css'%}" rel="stylesheet" type="text/css"/>
  <link href="{% static 'css/buttons-inputs.css'%}" rel="stylesheet" type="text/css"/>
  <link href="{% static 'css/tiktok-scheduler.css'%}" rel="stylesheet" type="text/css"/>
  <title>{% block title %}{% endblock %}</title>


  {%block header %} {% endblock %}

</head>

<body>
  {% block navigation %} {% endblock %}

  {% block body %} {% endblock %}

  {% block scripts %} {% endblock %}
</body>
</html>