@import './main.css';


.form-main{
    width:100%;
    margin:0 auto;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border:solid 2px var(--form-border);
    /* border-image: ;*/
    border-radius: 10px;
} 

@media (min-width:525px){
    .form-main{
        width:500px;
    }
}


.input-main{
    border-radius: 30px;
    padding:5px;
    margin:10px;
    border:none;
    outline:none;
    width:70%;
    text-align: center;
    font-weight: 800;
    font-size: large;
}

